# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.json
package download/linguagemc/prova.c
package download/linguagemc/exerc.c
package download/linguagemc/financeiro.c
package download/linguagemc/jogo2.c
package download/linguagemc/ativ.c
package download/linguagemc/facul.c
package download/linguagemc/lembrar.c
package download/linguagemc/texte.c
